<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .errors {
            color: red;
        }
    </style>

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<!-- Person edition -->
<form id="edit-form" action="edit.html">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" readonly="readonly" type="text" value="-1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" value="Book name"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>

        <select id="author-input" name="author.name">
            <option></option>
        </select>

    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <select id="genre-input" name="genre.name">
            <option></option>
        </select>
    </div>
    <div class="row">
        <button id="submitButton" type="button">Save</button>
        <a href="/">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>
<script>
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    $(function () {
        var id = $.urlParam('id');
        if (id == null) id = 0;
        $.get('/api/books/' + id).done(function (book) {
            $('#id-input').val(book.id);
            $('#name-input').val(book.name);
            $.get('/api/authors').done(function (authors) {
                authors.forEach(function (author) {
                    $('#author-input').append('<option value="' + author.id + '">' + author.name + '</option>');
                });
                if (id > 0) {
                    $('#author-input option[value=' + book.author.id + ']').prop('selected', true);
                } else {
                    $('#author-input option[value=1]').prop('selected', true);
                }
            });
            $.get('/api/genres').done(function (genres) {
                genres.forEach(function (genre) {
                    $('#genre-input').append('<option value="' + genre.id + '">' + genre.name + '</option>');
                });
                if (id > 0) {
                    $('#genre-input option[value=' + book.genre.id + ']').prop('selected', true);
                } else {
                    $('#genre-input option[value=1]').prop('selected', true);
                }
            });
        });
        $('#submitButton').click(function () {

            var bookDto = {
                id: id,
                name: $('#name-input').val(),
                author: $('#author-input option:selected').text(),
                genre: $('#genre-input option:selected').text()
            };
            $.ajax({
                url: '/api/books/' + id,
                type: 'put',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(bookDto),
                success: function (data) {
                    window.location.href = "/";
                }
            });
        });

    })

</script>
</body>
</html>
