<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .errors {
            color: red;
        }
    </style>


</head>
<body>

<!-- Person edition -->
<form id="edit-form" action="edit.html" th:action="@{/edit(id=${book.id})}" th:method="post" th:object="${book}">
    <h3 >Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" readonly="readonly" th:value="${book.id}" type="text" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" th:value="${book.name}" type="text" value="Book name"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>

        <select id="author-input" name="author.name" >
            <option th:each="author : ${authors}" th:value="${author.name}" th:text="${author.name}" th:selected="${book.author.name == author.name}"></option>
        </select>

    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <select id="genre-input" name="genre.name" >
            <option th:each="genre : ${genres}" th:value="${genre.name}" th:text="${genre.name}" th:selected="${book.genre.name == genre.name}"></option>
        </select>
    </div>
    <div class="row">
        <button type="submit" >Save</button>
        <a href="list.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
