<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }


    </style>
</head>
<body>

<h3>Books:</h3>

<a href="edit.html" th:href="@{/add}">Add book</a>
<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.name}">My first book</td>
        <td th:text="${book.author.name}">John Doe</td>
        <td th:text="${book.genre.name}">Lyric</td>
        <td>
            <a th:href="@{/edit(id=${book.id})}" href="edit.html" >Edit</a>
            <a th:href="@{/delete(id=${book.id})}" href="list.html" >Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
